JSON_WCF_Client/Connected Services/SOAPAndJSONService/SOAPAndJSONService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61182/SOAPAndJSONService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JSON_WCF_Model" />
  <xs:element name="DoStuff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JSON_WCF_Model" minOccurs="0" name="input" nillable="true" type="q1:Input" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoStuffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JSON_WCF_Model" minOccurs="0" name="DoStuffResult" nillable="true" type="q2:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoOtherStuff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JSON_WCF_Model" minOccurs="0" name="input" nillable="true" type="q3:Input" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoOtherStuffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JSON_WCF_Model" minOccurs="0" name="DoOtherStuffResult" nillable="true" type="q4:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>