JSON_WCF_Client/Connected Services/SOAPAndJSONService/SOAPAndJSONService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JSON_WCF_Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JSON_WCF_Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Output">
    <xs:sequence>
      <xs:element minOccurs="0" name="SomeByteArray" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SomeString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:FileType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Output" nillable="true" type="tns:Output" />
  <xs:simpleType name="FileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Html" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileType" nillable="true" type="tns:FileType" />
  <xs:complexType name="Input">
    <xs:sequence>
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reversed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Input" nillable="true" type="tns:Input" />
</xs:schema>