JSON_WCF_Client/Connected Services/SOAPAndJSONService/SOAPAndJSONService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SOAPAndJSONService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61182/SOAPAndJSONService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61182/SOAPAndJSONService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61182/SOAPAndJSONService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JSON_WCF_Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISOAPAndJSONService_GetExample_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExample" />
  </wsdl:message>
  <wsdl:message name="ISOAPAndJSONService_GetExample_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExampleResponse" />
  </wsdl:message>
  <wsdl:message name="ISOAPAndJSONService_DoStuff_InputMessage">
    <wsdl:part name="parameters" element="tns:DoStuff" />
  </wsdl:message>
  <wsdl:message name="ISOAPAndJSONService_DoStuff_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoStuffResponse" />
  </wsdl:message>
  <wsdl:message name="ISOAPAndJSONService_DoOtherStuff_InputMessage">
    <wsdl:part name="parameters" element="tns:DoOtherStuff" />
  </wsdl:message>
  <wsdl:message name="ISOAPAndJSONService_DoOtherStuff_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoOtherStuffResponse" />
  </wsdl:message>
  <wsdl:portType name="ISOAPAndJSONService">
    <wsdl:operation name="GetExample">
      <wsdl:input wsaw:Action="http://tempuri.org/ISOAPAndJSONService/GetExample" message="tns:ISOAPAndJSONService_GetExample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISOAPAndJSONService/GetExampleResponse" message="tns:ISOAPAndJSONService_GetExample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoStuff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISOAPAndJSONService/DoStuff" message="tns:ISOAPAndJSONService_DoStuff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISOAPAndJSONService/DoStuffResponse" message="tns:ISOAPAndJSONService_DoStuff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoOtherStuff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISOAPAndJSONService/DoOtherStuff" message="tns:ISOAPAndJSONService_DoOtherStuff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISOAPAndJSONService/DoOtherStuffResponse" message="tns:ISOAPAndJSONService_DoOtherStuff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:ISOAPAndJSONService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExample">
      <soap:operation soapAction="http://tempuri.org/ISOAPAndJSONService/GetExample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoStuff">
      <soap:operation soapAction="http://tempuri.org/ISOAPAndJSONService/DoStuff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoOtherStuff">
      <soap:operation soapAction="http://tempuri.org/ISOAPAndJSONService/DoOtherStuff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPAndJSONService">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="http://localhost:61182/SOAPAndJSONService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>